body {
    padding-top: 10px;
    background: rgb(255, 255, 255);
}
html, body{
    height: 100%;
}
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -31px;
    padding: 0 0 60px;
}
#footer {
    min-height: 30px;
}
#creditContainer {
    width: auto;
    padding: 0 15px;
}
#creditContainer .credit {
    margin: 5px 0;
    color: rgb(153, 153, 153);
}
#cal-slide-box {
  border-top: 0px solid #8c8c8c;
}
#cal-slide-content {
  padding: 20px;
  color: #ffffff;
  background-image: url("../img/cal-slide.png");
  -webkit-box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}
#cal-slide-tick {
  background-image: url("../img/tick.png");
}
#cal-slide-content:hover {
  background-color: transparent;
}